.sidebar {
	position: fixed;
	top: 0;
	display: inline-block;
	width: $sidebar-width;
	height: calc( 100vh );
	vertical-align: top;

	-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
	box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
	background: $white;
}

.sidebar__logo {
	position: relative;
	display: inline-block;
	padding: $gutter;

	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.8rem;
	font-weight: 500;
	text-decoration: none;
	color: $black;

	// & .code {
	// 	font-family: monospace;
	// }
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 46%;
	// 	right: 0;
	// 	bottom: 43%;
	// 	left: 0;
	// 	background: $white;
	// }

	// &:after {
	// 	content: 'Mint Jar';
	// 	position: absolute;
	// 	left: 30px;
	// 	height: 50%;

	// 	font-family: monospace;
	// 	letter-spacing: -.01rem;

	// 	overflow: hidden;
	// }
}