.sidebar {
	position: fixed;
	top: 0;
	display: inline-block;
	width: $sidebar-width;
	height: calc( 100vh );

	vertical-align: top;

	-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
	box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
}

.sidebar__logo {
	position: relative;
	padding: $gutter;

	text-transform: lowercase;
	letter-spacing: 1px;
	font-size: 1.8rem;
	font-weight: 500;

	&:after {
		content: '';
		position: absolute;
		top: 55%;
		right: 0;
		bottom: 0;
		left: 0;
		background: $white;
	}
}