.content {
	display: inline-block;
	width: calc( 100vw - #{ $sidebar-width });
	min-height: calc( 100vh - 10px );
	margin-left: #{ $sidebar-width };
	padding: $gutter;
	background: $white;
}

.wrapper {
	display: block;
	max-width: $container-width;
	margin: 0 auto;
}

.highlight {
	margin: 0 -#{ $gutter };
	padding: $gutter;

	color: $white;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	background: $black;
}