.sidebar__nav {
	padding: 0 $gutter 0;
}

.sidebar__nav__list {

}

.sidebar__nav__item {
	opacity: .3;
	filter: grayscale( 1 );

	transition: 300ms opacity, filter ease-in;
	animation: slideIn 300ms ease-out;

	&:nth-child( 2 ) {
		visibility: hidden;
		animation: slideIn 300ms ease-out;
		animation-delay: 200ms;
		animation-fill-mode:forwards;
	}

	&:nth-child( 3 ) {
		visibility: hidden;
		animation: slideIn 300ms ease-out;
		animation-delay: 300ms;
		animation-fill-mode:forwards;
	}

	&:nth-child( 4 ) {
		visibility: hidden;
		animation: slideIn 300ms ease-out;
		animation-delay: 400ms;
		animation-fill-mode:forwards;
	}

	&:hover, &--active {
		filter: grayscale( 0 );
		opacity: 1;
	}
}

.sidebar__nav__link {
	display: inline-block;
	width: 100%;
	padding: ($gutter / 2 ) 0;

	text-decoration: none;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 500;
	color: $black;
}

.sidebar__nav__emo {
	padding-right: 10px;
}