.project {
	padding: $gutter / 2;
	box-sizing: border-box;
	font-size: 1rem;

	background: $white;

	& a {
		color: $black;
		text-decoration: none;
	}

	&:hover {
		transform: rotateY( -20deg );
		border-radius: 2px;
	}
}

.project__graphic {
	display: block;
	width: calc( 100% + #{$gutter} );
	height: auto;
	margin-top: -($gutter / 2);
	margin-left: -($gutter / 2);
	margin-bottom: ($gutter / 2);
	margin-right: -($gutter / 2);
	//transform: rotate( 45deg );
	// border-radius: 3px;
	// transition: all 100ms ease-out;
	// transition-property: transform, border-radius;
}

.project__header {

}

.project__caption {
	line-height: 1.4rem;
	margin-bottom: $gutter / 2;
}

a.project__label {
	display: inline-block;
	margin-right: 4px;
	padding: 3px 5px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);

	font-size: .6rem;
	text-transform: uppercase;
	text-decoration: none;
	color: $black;
	font-weight: 600;

	background: $white;

	transition: transform 100ms ease-out;

	&:hover {
		transform: translateY( -1px );
	}
}