<main class="o-container">
    <section class="c-hero">
        <picture>
            <!-- <source media="(max-width: 799px)" srcset="elva-480w-close-portrait.jpg">
            <source media="(min-width: 800px)" srcset="elva-800w.jpg"> -->
            <img src="/media/mint.jpg" alt="Just a picture of some Mint.">
        </picture>
    </section>

    <section class="c-content">
        <h1>MintJar</h1>
        <p>{{ .Params.content }}</p>
        <p>{{ .Params.sidebarcontent }}</p>
    </section>
</main>