// $accent1 : #EAE7FF;
// $accent1--light: lighten( $accent1, 20% );
// $accent1--dark: darken( $accent1, 20% );

// $accent2 : #F7F7FF;
// $accent2--light: lighten( $accent2, 20% );
// $accent2--dark: darken( $accent2, 20% );

$white: #fcFFfc;
$black: #090D07;

$medium-grey: #999;
$light-grey: #ccc;